extends _layout.jade
block main
	section.photos.pt
		.container
			.photos__wrap
				.photos__title
					h1.h1.title
						| Photos of happy students
				.photos__img
					img.flex-img(src="img/people-7.jpg", alt="")
					img.flex-img(src="img/people-3.jpg", alt="")
					img.flex-img(src="img/people-6.jpg", alt="")
					.obertka
						img.flex-img.obertka-item(src="img/people-5.jpg", alt="")
						img.flex-img.obertka-item(src="img/people-4.jpg", alt="")
					img.flex-img(src="img/people-1.jpg", alt="")
					img.flex-img(src="img/people-2.jpg", alt="")
	section.works.pt
		.container-short
			.works__wrap
				.works__title
					h1.h1.title.title_white
						| How it works
				.works__items-wrap
					.works__item
						.works__item-img.letter
						.works__item-dscr
							p
								| Lorem ipsum dolor sit amet, 
								| consectetur adipiscing elit. 
					.works__item
						.works__item-img.sms
						.works__item-dscr
							p
								| Lorem ipsum dolor sit amet, 
								| consectetur adipiscing elit. 
					.works__item
						.works__item-img.wallet
						.works__item-dscr
							p
								| Lorem ipsum dolor sit amet, 
								| consectetur adipiscing elit. 
					.works__item
						.works__item-img.plane
						.works__item-dscr
							p
								| Lorem ipsum dolor sit amet, 
								| consectetur adipiscing elit. 
	section.rewiews.pt
		.container-short
			.rewiews__wrap
				.rewiews__title
					h1.h1.title
						| Rewiews
				.rewiews__reported
					| Lorem ipsum dolor sit amet, 
					| consectetur adipiscing elit. 
					| Aenean euismod bibendum laoreet. 
					| Proin gravida dolor sit amet lacus 
					| accumsan et viverra justo commodo. 
					| Proin sodales pulvinar tempor.
					| Cum sociis natoque penatibus et 
					| magnis dis parturient montes, nascetur 
					| ridiculus mus. Nam fermentum, 
					| nulla luctus pharetra vulputate, felis 
					| tellus mollis orci, s
					| ed rhoncus sapien nunc eget odio.
				.rewiews__comment-wrap
					.rewiews__img
						img.rewiews-girl(src="img/rewiew-girl-2.jpg", 
						alt="")
					.rewiews__data
						h2.h2
							| Name Surname, Country
				