section.pre-footer
	.container
		.pre-footer__wrap
			.pre-footer__title-wrap
				h1.h1
					| Want to participate?
			.pre-footer__btn-wrap
				a(href="#").btn-pre-footer
					|  yes
footer.footer
	.container
		.footer__top-line
			.footer__logo
				img.logo-img(src="img/logo-footer.svg", alt="")
			.footer__social
				ul.social__list
					li.social__item
						a.social__link.social__link_fb(href="#")
					li.social__item
						a.social__link.social__link_vk(href="#")
					li.social__item
						a.social__link.social__link_tw(href="#")
		.footer__contacts-wrap
			.footer__contacts-item
				.footer__contacts-title
					h4.h4
						| About Us
				.footer__contacts-dscr
					p
						| Lorem ipsum dolor sit amet, 
						| consectetur adipiscing elit.
						| Aenean euismod bibendum laoreet. 
						| Proin gravida dolor sit amet 
						| lacus accumsan et viverra justo 
						| commodo. Proin sodales pulvinar 
						| tempor. Cum sociis natoque 
						| penatibus et magnis dis 
						| parturient montes, nascetur 
						| ridiculus mus

			.footer__contacts-item
				.footer__contacts-title
					h4.h4
						| Get in touch
				.footer__contacts-dscr
					ul.contacts__list
						li.contacts__item
							a.contacts__link(href="#") 
								| 84 Benson Cove <br>
								| Oakland, Maine 04963 USA
						li.contacts__item
							a.contacts__link(href="tel:+12074654622")
								| +1.​2074654622
						li.contacts__item
							a.contacts__link(href="mail:youremail@gmail.com")
								| youremail@gmail.com


			.footer__contacts-item
				.footer__contacts-title
					h4.h4
						| Ask a question
				.footer__contacts-form
					label.form-label(for="name")
						span.form-title
							| Name
						input.name-area(type="text" name="name" id="name")
					label.form-label(for="email")
						span.form-title
							| Email
						input.email-area(type="text" name="email" id="email")
					label.form-label(for="message")
						span.form-title
							| Message
						textarea.message-area(name="message" id="message")
					.form__btn-wrap
						a.btn-cln(href="#")
							| clean
						a.btn-sbm(href="#")
							| submit	
	.all_rights_reserved
		.container
			span
				| all rights reserved



//- footer.footer