header.header
	.header__top-line
		.container
			.header__logo
				a(href="#")
					img.logo-img(src="img/logo.svg", alt="")
			.header__nav
				ul.nav__list
					li.nav__item
						a.nav__link.nav__link_active(href="#") Academics tours
					li.nav__item
						a.nav__link(href="#") English courses
					li.nav__item
						a.nav__link(href="#") Stay at home
	.header__banner-wrap
		.container
			.banner__title-wrap
				h1.h1
					| Your future is waiting <br>
					| at Academic Adventures USA
	.services
		.container-short
			.services__items-wrap
				.services__item
					.services__item-img
						img.fly(src="img/fly.svg", alt="")
					.services__item-title
						h3.h3
							| Academics tours   
					.services__item-dscr
						p
							| Lorem ipsum dolor sit amet, 
							| consectetur adipiscing elit. 
							| Aenean euismod bibendum laoreet. 
							| justo commodo. 
					.services__item-btn
						a(href="#").btn-header
							| More
				.services__item
					.services__item-img
						img.books(src="img/books.svg", alt="")
					.services__item-title
						h3.h3
							| Academics tours   
					.services__item-dscr
						p
							| Lorem ipsum dolor sit amet, 
							| consectetur adipiscing elit. 
							| Aenean euismod bibendum laoreet. 
							| justo commodo. 
					.services__item-btn
						a(href="#").btn-header
							| More
				.services__item
					.services__item-img
						img.house(src="img/house.svg", alt="")
					.services__item-title
						h3.h3
							| Academics tours   
					.services__item-dscr
						p
							| Lorem ipsum dolor sit amet, 
							| consectetur adipiscing elit. 
							| Aenean euismod bibendum laoreet. 
							| justo commodo. 
					.services__item-btn
						a(href="#").btn-header
							| More



